<table width="516" height="162" border="0" align="left" bordercolor="#000000" bgcolor="#99FFFF">
  <tr>
    <td width="189" height="39" bgcolor="#CC33FF"><div align="center"><span class="style5">Names</span></div></td>
    <td width="181" bgcolor="#CC33FF"><div align="center"><span class="style15">Subject</span></div></td>
    <td width="201" bgcolor="#CC33FF"><div align="center"><span class="style13">Department</span></div></td>
  </tr>
  <tr>
    <td height="34" bgcolor="#66CCFF"><div align="center" class="style11"><span class="style8">M.srinivas Reddy </span></div></td>
    <td bgcolor="#66CCFF"><div align="center" class="style11"><span class="style8">M-1</span></div></td>
    <td bgcolor="#66CCFF"><div align="center" class="style11"><span class="style8">CSE</span></div></td>
  </tr>
  <tr>
    <td height="36" bgcolor="#66CCFF"><div align="center" class="style11"><span class="style8">K.mohan kumar </span></div></td>
    <td bgcolor="#66CCFF"><div align="center" class="style11"><span class="style8">MM</span></div></td>
    <td bgcolor="#66CCFF"><div align="center" class="style11"><span class="style8">EEE</span></div></td>
  </tr>
</table>
<b><a href = "students" id = "students">students</a>
<b><a href = "staff" id = "staff">staff</a>
<b><a href = "principal" id = "principal">principal</a>