<table width="593" height="384" border="0" bgcolor="#99FFFF">
  <tr>
    <td width="643" height="98" bgcolor="#FF66CC"><div align="center">
      <p align="center" class="style21">Mother Teresa Institute Of Science and Technology</p>
      <p align="center" class="style18">kothuru(v),sathupally(m),khammam(d),507001.</p>
      <p align="left" class="style13"></p>
    </div></td>
  </tr>
  <tr>
    <td height="270"><p><span class="style14">Principal</span> : <span class="style16">Dr.M SASIDHAR(Goldmedalist).</span></p>
    <p align="justify" class="style20">Dr.M SASIDHAR&nbsp;is the young &amp; dynamic principal of MIST,Sathupally and by virtue of this postion, he is&nbsp;a member secretary of the Institute's Governing Body as well. He has rich expereince as a researcher&nbsp;and academician&nbsp; with a doctorate from&nbsp;Osmania University Hyderabad, He has chosen teaching profession and served the student community for&nbsp;&nbsp;more than one&nbsp;decade as a Lecturer ,Associate Professor and Professor in the Department of Mechanical Engineering in a highly prestigious engineering colleges&nbsp;in Andhra Pradesh</p>
    <p align="justify" class="style20">&nbsp;Dr M SASIDHAR has published several research papers in various national and international conferences. He is a&nbsp;member &nbsp;of the&nbsp; Indian Society for Techincal Education (ISTE) and&nbsp;CMSI. Dr M SASIDHAR&nbsp;received best Teacher awards for academic years 2004-05 and 2005-06 from KL University, Guntur Dt. He envisaged that MIST will soon become one of the best engineering colleges&nbsp; &amp;&nbsp; Technological University in rural Andhra Pradesh.</p></td>
  </tr>
</table>


<b><a href = "students" id = "students">students</a>
<b><a href = "staff" id = "staff">staff</a>
<b><a href = "lecturers" id = "lecturers">lectuyers</a>
