<table width="419" height="273" border="0" bgcolor="#CCCCCC">
  <tr>
    <td width="197" height="55" bgcolor="#CCFF66"><div align="center"><span class="style28">Names</span></div></td>
    <td width="193" bgcolor="#CCFF66"><div align="center"><span class="style28">Branch</span></div></td>
  </tr>
  <tr>
    <td height="23" bgcolor="#CCCCCC"><div align="center"><span class="style30">k.Narsaiah</span></div></td>
    <td bgcolor="#CCCCCC"><div align="center"><span class="style30">CSE</span></div></td>
  </tr>
  <tr>
    <td height="23" bgcolor="#CCCCCC"><div align="center"><span class="style30">M.Rajaiah</span></div></td>
    <td bgcolor="#CCCCCC"><div align="center"><span class="style30">IT</span></div></td>
  </tr>
  <tr>
    <td height="23" bgcolor="#CCCCCC"><div align="center"><span class="style30">N.Laxman</span></div></td>
    <td bgcolor="#CCCCCC"><div align="center"><span class="style30">EEE</span></div></td>
  </tr>
  <tr>
    <td height="23" bgcolor="#CCCCCC"><div align="center"><span class="style30">B.Raju</span></div></td>
    <td bgcolor="#CCCCCC"><div align="center"><span class="style30">ECE</span></div></td>
  </tr>
  <tr>
    <td height="23" bgcolor="#CCCCCC"><div align="center"><span class="style30">A.Mallaih</span></div></td>
    <td bgcolor="#CCCCCC"><div align="center"><span class="style30">Mech</span></div></td>
  </tr>
</table>



<b><a href = "students" id = "students">students</a>
<b><a href = "principal" id = "principal">principal</a>
<b><a href = "lecturers" id = "lecturers">lectuyers</a>