<table width="513" height="143" border="0" align="left" bordercolor="#000000" bgcolor="#99FFFF">
  <tr>
    <td width="189" height="39" bgcolor="#CCFF33"><div align="center"><span class="style5">Names</span></div></td>
    <td width="181" bgcolor="#CCFF33"><div align="center" class="style5">Roll no </div></td>
    <td width="201" bgcolor="#CCFF33"><div align="center" class="style5">mobile no </div></td>
  </tr>
  <tr>
    <td height="34" bgcolor="#A4FFFF"><div align="center" class="style13">Srinivas Reddy </div></td>
    <td bgcolor="#A4FFFF"><div align="center" class="style11">08c61a0540</div></td>
    <td bgcolor="#A4FFFF"><div align="center" class="style11">9966253447</div></td>
  </tr>
  <tr>
    <td height="36" bgcolor="#A4FFFF"><div align="center" class="style11"><span class="style8">kumar </span></div></td>
    <td bgcolor="#A4FFFF"><div align="center" class="style11">o8c61a0560</div></td>
    <td bgcolor="#A4FFFF"><div align="center" class="style11">8500827021</div></td>
  </tr>
</table>


<b><a href = "principal" id = "principal">principal</a>
<b><a href = "staff" id = "staff">staff</a>
<b><a href = "lectuyers" id = "lectuyers">lectuyers</a>